span {
    color: rgb(80, 29, 128);
}

/*coment of the properties blablbla*/
selector {
    property: value;
    property2: value2
}

#header {
    background-color: chocolate;
}

.digit {
    font-size: xx-large;
}

.header-buttons {
    display: inline;
}
.header-buttons > * {
    display: inline;
}
.header-buttons > a {
    border-style: dotted;
    border-width: 5px;
    border-color: darkgreen;
    background-color: darkgrey;
    padding: 15px;
    margin-left: 50px;
    
}

#footer{
    border-style: double;
}
#footer > * {
    text-align: center;
    margin-bottom: 3em;
}
*{
    text-align: center}

    